#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
Advent of Code - https://adventofcode.com/
Problem : https://adventofcode.com/{{ date.year }}/day/{{ date.day }}
"""

import pathlib
import pprint

pp = pprint.PrettyPrinter(indent=4)

input_file = pathlib.Path(__file__).parent.resolve().joinpath("{{ input_file }}")
with open(input_file, "r") as data:
    puzzle_input = data.read().splitlines()

if __name__ == "__main__":
    # insert code for solution
    pass
